/* Content box model => width = left border, padding left, width, padding right, border-right */

/* Border box => width = left border, width, right border */

/* Reset styles */
html,
body {
    margin: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    font-family: sans-serif;
    padding: 5px;
}

h1 {
    text-align: center;
}

/* Blocks */
.alert-info {
    background-color: #add8e6;
    border: 2px solid #d3d3d3;
    padding: 1em;
    text-align: center;
}

/* direct child selector */
.nav-links>li {
    color: #000;
    text-decoration: none;
}

.nav-links {
    padding-left: 0;
}

.nav-links li {
    background-color: #d3d3d3;
    padding: 1em;
    text-align: center;
    /*margin-bottom: .5em;*/
    list-style: none;
}

.header-img img {
    width: 95%;
}

.sub-section {
    font-style: italic;
}

/* Style definitions that target screens 768px and up */
@media screen and (min-width: 768px) {
    body {
        padding: 1em;
    }

    .alert-info {
        display: none;
    }

    h1 {
        float: left;
    }

    .nav-links {
        text-align: right;
    }

    .nav-links li {
        /*display: inline-block;*/
        float: right;
        background-color: transparent;
        /*padding: .2em;*/
        line-height: 2em;
    }

    .main {
        float: left;
        width: 66%;
    }
    .sub-section {
        font-style: normal;
        float: right;
        width: 33%;
    }


}
